:root {
  --header-size: 12vh;
  --color-1: black;
  --color-2: white;
  --background-col-1: rgb(46, 46, 46);
  --background-col-header: rgb(84, 83, 83);
  --background-col-2: rgb(255, 255, 255);
  --radius-img: 20px;
  --animation-img: 1s;
  --animation-svg: 7s;
  --margin-bottom: 7rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-col-1);
  color: var(--color-2);
}

main {
  min-height: 100vh;
}

header {
  height: var(--header-size);
  background-color: var(--background-col-header);
  margin-bottom: var(--margin-bottom);
}

header a,
section.homepage a {
  text-decoration: none;
  color: var(--color-2);
}

header a {
  font-size: 1.6rem;
  text-transform: capitalize;
  transition: transform 250ms ease;
}

header a.active {
  font-weight: 600;
}

header .header-logo {
  width: calc(var(--header-size) + 40px);
  height: calc(var(--header-size) - 20px);
  border-radius: 1rem;
  background-image: url(../img/logo-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%;
}

header a:hover {
  transform: scale(1.05);
}

/* -----homepage----- */
section.homepage {
  background-color: var(--background-col-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--margin-bottom);
  position: relative;
}

section.homepage img {
  max-width: 45%;
}

section.homepage div {
  max-width: 55%;
}

section.homepage h1 {
  font-size: 3rem;
}

section.homepage p {
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}

section.homepage h1 {
  position: relative;
  text-shadow: 0 0 5px black;
  z-index: 2;
}

/* button */
button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 15px 2px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* -----scopri il giappone----- */

section.DiscoverJapanPage img {
  border-top-left-radius: var(--radius-img);
  border-bottom-left-radius: var(--radius-img);
  z-index: 2;
}

section.DiscoverJapanPage div,
section.DiscoverJapanPage img {
  animation-name: fade-in-left;
  animation-duration: var(--animation-img);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

section.DiscoverJapanPage img.flower {
  position: absolute;
  z-index: 1;
}

#flower-1 {
  top: 10%;
  left: 55%;
  width: 30px;
  height: 30px;
  animation: faid-in-svg var(--animation-svg),
    wind-flower-1 var(--animation-svg) infinite ease-in-out;
  z-index: 1;
}

#flower-2 {
  top: 20%;
  left: 55%;
  width: 30px;
  height: 30px;
  animation: faid-in-svg var(--animation-svg),
    wind-flower-2 var(--animation-svg) infinite ease-in-out;
  z-index: 1;
}

@keyframes faid-in-svg {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wind-flower-1 {
  0% {
    top: 10%;
    left: 55%;
  }
  25% {
    top: 40%;
    left: 25%;
  }
  50% {
    top: 60%;
    left: 65%;
    rotate: 270deg;
  }
  100% {
    top: 10%;
    left: 55%;
  }
}

@keyframes wind-flower-2 {
  0% {
    top: 20%;
    left: 55%;
  }
  35% {
    top: 45%;
    left: 20%;
  }
  70% {
    top: 70%;
    left: 60%;
    rotate: 180deg;
  }
  100% {
    top: 20%;
    left: 55%;
  }
}

/* -----programma il tuo viaggio----- */
section.PlanYourTripPage img {
  border-top-right-radius: var(--radius-img);
  border-bottom-right-radius: var(--radius-img);
  z-index: 2;
}

section.PlanYourTripPage div,
section.PlanYourTripPage img {
  animation: fade-in-right var(--animation-img) ease-in-out;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#airplane {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  z-index: 1;
  animation: fly 5s infinite linear,
    faid-in-svg var(--animation-svg) ease-in-out;
}

@keyframes fly {
  0% {
    left: 40%;
  }
  100% {
    top: 5%;
    left: 95%;
  }
}

section.PlanYourTripPage img.cloud {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  z-index: 1;
}

#cloud-1 {
  top: 0;
  right: -18px;
  width: 120px;
  height: 120px;
}

#cloud-2 {
  top: 0;
  right: 50%;
  width: 40px;
  height: 40px;
}

#cloud-3 {
  top: 10%;
  right: 20%;
  width: 26px;
  height: 26px;
  z-index: 3;
  animation: cloud 6s infinite ease-in-out;
}

@keyframes cloud {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-5px, 15px);
    scale: 0.96;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* sezione con mappa */

section.RegionPage div {
  height: calc(100vh - var(--header-size));
  width: calc(80vh - var(--header-size));
  background-color: var(--color-2);
  padding: 1rem;
  border-radius: var(--radius-img);
  resize: both;
  overflow: auto;
}
