:root {
  --header-size: 12vh;
  --col-1: black;
  --col-2: white;
  --col-3: rgb(40, 43, 48);
  --col-4: rgb(23, 28, 33);
  --col-5: rgb(111, 150, 209);
  --col-6: rgb(146, 255, 151);
  --col-7: rgb(255, 153, 0);
  --col-8: rgb(255, 176, 74);
  --radius-img: 20px;
  --animation-img: 1s;
  --animation-svg: 7s;
  --sun-animation: 60s;
  --margin-bottom: 7rem;
  --font-header: 2rem;
  --font-h2: 4rem;
  --font-p: 1.7rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--col-3);
  color: var(--col-2);
  overflow-x: hidden;
  font-family: "Zain", Courier, monospace;
}

main {
  min-height: 100vh;
}

header {
  height: var(--header-size);
  background-color: var(--col-4);
  margin-bottom: var(--margin-bottom);
  box-shadow: 0 0px 20px 8px black;
}

header a,
section.homepage a {
  text-decoration: none;
  color: var(--col-2);
}

header a {
  font-size: var(--font-header);
  text-transform: capitalize;
  transition: transform 250ms ease;
}

header a.active {
  font-weight: 600;
}

header .header-logo {
  width: calc(var(--header-size) + 40px);
  height: calc(var(--header-size) - 20px);
  border-radius: 1rem;
  background-image: url(../img/logo-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%;
}

header a:hover {
  transform: scale(1.05);
}

/* -----homepage----- */
section.homepage {
  background-color: var(--col-4);
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--margin-bottom);
  position: relative;
}

section.homepage img {
  max-width: 45%;
}

section.homepage > div {
  max-width: 55%;
}

h2 {
  font-size: var(--font-h2);
  flex-shrink: 0;
  text-shadow: 0 0 5px black;
}

p {
  font-size: var(--font-p);
  margin-bottom: 2.5rem;
}

/* button */
button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 15px 2px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* -----scopri il giappone----- */

section.DiscoverJapanPage div img {
  width: 15%;
}

section.DiscoverJapanPage img {
  border-top-left-radius: var(--radius-img);
  border-bottom-left-radius: var(--radius-img);
  z-index: 2;
}

section.DiscoverJapanPage div,
section.DiscoverJapanPage img,
section.RegionPage div {
  animation-name: fade-in-left;
  animation-duration: var(--animation-img);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

section.DiscoverJapanPage img.flower {
  position: absolute;
  z-index: 1;
}

#flower-1 {
  top: 10%;
  left: 55%;
  width: 30px;
  height: 30px;
  animation: faid-in-svg var(--animation-svg),
    wind-flower-1 var(--animation-svg) infinite ease-in-out;
  z-index: 1;
}

#flower-2 {
  top: 20%;
  left: 55%;
  width: 30px;
  height: 30px;
  animation: faid-in-svg var(--animation-svg),
    wind-flower-2 var(--animation-svg) infinite ease-in-out;
  z-index: 1;
}

@keyframes faid-in-svg {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wind-flower-1 {
  0% {
    top: 10%;
    left: 55%;
  }
  25% {
    top: 40%;
    left: 25%;
  }
  50% {
    top: 60%;
    left: 65%;
    rotate: 270deg;
  }
  100% {
    top: 10%;
    left: 55%;
  }
}

@keyframes wind-flower-2 {
  0% {
    top: 20%;
    left: 55%;
  }
  35% {
    top: 45%;
    left: 20%;
  }
  70% {
    top: 70%;
    left: 60%;
    rotate: 180deg;
  }
  100% {
    top: 20%;
    left: 55%;
  }
}

/* -----programma il tuo viaggio----- */
section.PlanYourTripPage img {
  border-top-right-radius: var(--radius-img);
  border-bottom-right-radius: var(--radius-img);
  z-index: 2;
}

section.PlanYourTripPage div,
section.PlanYourTripPage img {
  animation: fade-in-right var(--animation-img) ease-in-out;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#airplane {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  z-index: 1;
  animation: fly 5s infinite linear,
    faid-in-svg var(--animation-svg) ease-in-out;
}

@keyframes fly {
  0% {
    left: 40%;
  }
  100% {
    top: 5%;
    left: 95%;
  }
}

section.PlanYourTripPage img.cloud,
section.PlanYourTripPage img.sun {
  position: absolute;
  border-radius: 0;
  z-index: 1;
}

section.PlanYourTripPage img.sun {
  top: 5%;
  right: 50%;
  width: 60px;
  height: 60px;
  z-index: 0;
  filter: drop-shadow(0 0 5px #ffbf00) drop-shadow(0 0 8px #ffbf00c0)
    drop-shadow(0 0 15px #ffff7e70);
  animation: sun var(--sun-animation) infinite linear,
    faid-in-svg var(--animation-svg) ease-in-out;
}

@keyframes sun {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

#cloud-1 {
  top: 0;
  right: -18px;
  width: 120px;
  height: 120px;
  animation: faid-in-svg var(--animation-svg) ease-in-out;
}

#cloud-2 {
  top: 9%;
  right: 50%;
  width: 45px;
  height: 45px;
  animation: cloud-2 calc(var(--animation-svg) / 2) infinite alternate
      ease-in-out,
    faid-in-svg var(--animation-svg) ease-in-out;
}
@keyframes cloud-2 {
  from {
    translate: 0;
  }
  to {
    translate: 15px;
  }
}

#cloud-3 {
  top: 10%;
  right: 20%;
  width: 26px;
  height: 26px;
  z-index: 3;
  animation: cloud-3 6s infinite ease-in-out,
    faid-in-svg var(--animation-svg) ease-in-out;
}

@keyframes cloud-3 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-5px, 15px);
    scale: 0.96;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* sezione con mappa */

section.RegionPage.homepage {
  margin-bottom: 0;
}

section.RegionPage div.map {
  height: calc(90vh - var(--header-size));
  width: calc(75vh - var(--header-size));
  background-color: var(--col-5);
  padding: 1rem;
  border-radius: var(--radius-img);
  resize: both;
  overflow: auto;
}

.region {
  fill: var(--col-6);
  transition: fill 0.3s ease;
}

#hokkaido:hover,
#tohoku:hover,
#kanto:hover,
#chubu:hover,
#kansai:hover,
#chugoku:hover,
#shikoku:hover,
#kyushu:hover,
#okinawa:hover {
  fill: var(--col-7);
}

#kansai:hover + #kansai-2 {
  fill: var(--col-7);
}

section.RegionPage div.map .region.active {
  fill: var(--col-8);
}

section.RegionPage div.region-details {
  width: 45%;
}

.region-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

section.RegionPage .region-card img {
  max-width: 60%;
  max-height: 60%;
  margin: 2rem auto;
  border-radius: var(--radius-img);
  transition: all 0.3s ease-out;
}
section.RegionPage .region-card img:hover {
  scale: 1.01;
  box-shadow: 0 0 10px rgb(119, 119, 119);
}

section.RegionPage .region-card button {
  margin: 1vw;
  font-family: none;
  font-size: large;
  padding: 0.7vw 1.5vw;
}

section.RegionPage > * {
  animation: faid-in-svg calc(var(--animation-svg) / 2);
}

/* sezione discover japan page */

.discover-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--margin-bottom);
  padding: 3rem 7rem;
  background-color: var(--col-4);
}

.discover-card div {
  animation: fade-in-left var(--animation-img) ease-in-out;
}

.discover-card div.image-container {
  width: 20%;
  border-radius: var(--radius-img);
  overflow: hidden;
}
.discover-card div img {
  width: 100%;
  height: 100%;
  scale: 1.5;
  position: relative;
  top: 10px;
}

.discover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.discover-content button {
  margin: auto;
}

a.discover-card-link {
  text-decoration: none;
  color: var(--col-2);
}

/* history page */
.historical-card {
  background-color: var(--col-4);
  padding: 4rem 10rem;
  margin-bottom: var(--margin-bottom);
}

.historical-card > * {
  animation: fade-in-left var(--animation-img) ease-in-out;
}

.historical-card h2 {
  margin-bottom: 2rem;
}

/* culture page e card */
.culturePage {
  padding: 0 10vw;
}

main.culturePage div button {
  background-color: var(--col-4);
  color: var(--col-2);
}

/* Container principale */
.custom-accordion-item {
  border: 1px solid #dee2e6;
  margin-bottom: calc(var(--margin-bottom) / 2);
  border-radius: 4px;
  overflow: hidden;
}

.custom-accordion-button {
  width: 100%;
  padding: 16px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  font-size: calc(var(--font-h2) / 2);
  color: #343a40; /* Colore del testo per il pulsante */
}

.custom-accordion-button:hover {
  background-color: rgba(0, 142, 236, 0.815);
}

/* Freccia di apertura */
.custom-accordion-button::after {
  content: ""; /* Assicurati che non ci sia nessun testo */
  position: absolute;
  top: 50%;
  right: 16px;
  width: 12px;
  height: 12px;
  border-right: 2px solid var(--col-2);
  border-bottom: 2px solid var(--col-2);
  transform: translateY(-50%) rotate(45deg); /* Stato iniziale: freccia verso il basso */
  transition: transform 0.3s ease-in-out;
}

.custom-accordion-button.collapsed::after {
  /* Quando è collapsed, la freccia è verso il basso (angolo 45) */
  transform: translateY(-50%) rotate(45deg);
}

.custom-accordion-button.expanded::after {
  /* Quando è expanded, la freccia è verso l'alto (angolo -135 o -45) */
  transform: translateY(-50%) rotate(-135deg); /* O rotate(-45deg) a seconda del look desiderato */
}

/* Corpo dell'accordion */
.custom-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.custom-accordion-content.show {
  max-height: 100vh;
}

.custom-accordion-body {
  padding: 16px;
  background-color: var(--col-4);
  color: var(--col-2); /* Colore del testo per il corpo */
}
